<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/formulario.css">
</head>
<body>
    <header>
        <a href="index.html" id="nome-logo">DressDivine</a>
        <nav>
            <div class="container-header-text">
                <ul class="lista-text">
                    <a href="cadastro.html"><li>Categorias</li></a>
                    <a href="#"><li>Roupas</li></a>
                    <a href="#"><li>Galeria</li></a>
                    <a href="#"><li>Loja</li></a>
                </ul>
            </div>

            <div class="container-header-svg">
                <ul class="lista-svg">
                    <a href="cadastro.html"><li><img src="/img/account.svg" alt=""></li></a>
                    <a href="#"><li><img src="/img/icon-shopping-car.svg" alt=""></li></a>
                    <a href="#"><li><img src="/img/icons8-pesquisar.svg" alt=""></li></a>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="container">
                <form action="index.html">
                    <h1>Cadastro</h1>

                    <div>
                        <label for="nome">Nome:</label>
                        <input type="text" placeholder="Informe o seu nome" id="nome" class="input-text">
                    </div>

                    <div>
                        <label for="email">Email:</label>
                        <input type="text" placeholder="Informe o seu email" id="email" class="input-text">
                    </div>

                    <div>
                        <label for="telefone">Telefone:</label>
                        <input type="tel" placeholder="Informe o seu telefone" id="telefone" class="input-text">
                    </div>

                    <div>
                        <label for="senha">Senha:</label>
                        <input type="password" placeholder="Informe o seu senha" class="input-text">
                    </div>

                    <div>
                        <input type="submit" value="Confirmar" id="submit-button">
                    </div>
                </form>
            </div>
        </section>
    </main>

</body>
</html>