<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="index.html" id="nome-logo">DressDivine</a>
        <nav>
            <div class="container-header-text">
                <ul class="lista-text">
                    <a href="cadastro.html"><li>Categorias</li></a>
                    <a href="#"><li>Roupas</li></a>
                    <a href="#"><li>Galeria</li></a>
                    <a href="#"><li>Loja</li></a>
                </ul>
            </div>

            <div class="container-header-svg">
                <ul class="lista-svg">
                    <a href="cadastro.html"><li><img src="/img/account.svg" alt=""></li></a>
                    <a href="#"><li><img src="/img/icon-shopping-car.svg" alt=""></li></a>
                    <a href="#"><li><img src="/img/icons8-pesquisar.svg" alt=""></li></a>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <section class="aviso"> 
            <div class="container-texto-aviso">
            <h1>Aviso</h1>
                <p>Bem-vindo ao nosso universo online, onde a conveniência e a personalização estão a apenas um clique de distância. Para desfrutar ao máximo de todas as incríveis funcionalidades deste site, convidamos você a criar uma conta pessoal. É simples, seguro e abre as portas para uma experiência verdadeiramente única..</p>
                <div class="container-text-button-aviso">
                    <p id="text-aviso">Clique no botão abaixo para criar a conta.</p>
                    <a href="cadastro.html"><button id="botao-aviso">Criar conta</button></a>
                </div>
            </div>
        </section>

        <section class="banner">
            <div class="containar-image-banner">
                <img src="/img/image-banner.png" alt=""class="image-banner">
            </div>
            <div class="text-banner">
                <h2>Descubra o Luxo do Inverno</h2>
                <p class="descricao-banner">À medida que as temperaturas caem, sua moda pode subir. Este inverno, abrace a estação com confiança, elegância e calor. Nossa Coleção de Roupas de Inverno está aqui para ajudá-lo a fazer exatamente isso</p>
                <p id="link-text-banner"><a href="#">Adquira já</a></p>
            </div>
            <div class="container-image-ad">
                <a href="https://www.pediasure.abbott/br/pediasure.html" target="_blank"><img src="/img/ad.jpg" alt="" class="image-ad"></a>
            </div>
        </section>


        <section class="container-produtos">
             <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa1.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa básica preta</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div>

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <img src="/img/camisa2.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa básica branca</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div>

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa3.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa básica rosa</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div></a>

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa4.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa Adidas</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div class="card-produto">

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa5.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa Bege</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div>

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa6.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa básica vermelho</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div class="card-produto">

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa7.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa básica Laranja</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div>

            <div class="card-produto">
                <div class="container-imagem-produto">
                    <a href="#"><img src="/img/camisa8.png" alt="" class="imagem-produto"></a>
                </div>
                <p class="text-produto">Camisa básica azul</p>
                <p class="text-produto" id="text-preco">R$45</p>
            </div>
        </section>

    </main>

</body>
</html>